@page "{id}"
@model eStuff.Pages.DeletePageModel
@{
    ViewData["Title"] = "Delete";
}

<div>
<div class="col-lg-4">
    <div class="text-center card-box">
        <div class="member-card pt-2 pb-2">
            <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
            <div class="">
                <h4>@Model.worker.Name</h4>
                <h4>@Model.worker.LastName</h4>
            </div>
            <a asp-page="/EditPage" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Edit</a>
            <a asp-page="/DeletePage" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Delete</a>
        </div>
    </div>
</div>
    </div>
